<!-- HTML header -->
<%- include("./partials/__header") %>

<!-- navbar component -->
<%- include('./partials/__navbar', {page: "employee"}) %> 


    <div class="container text-capitalize">
        <div class="row justify-content-center align-items-center ">

            <!-- filter component -->
            <%- include("./partials/__filter") %>

            <!-- add new card button -->
            <div id="new-button" class="btn fs-1 text-right w-5" data-bs-toggle="modal"
                data-bs-target="#more-info-modal">
                &plus;
            </div>

        </div>
        
        <!-- main section of page -->
        <main class="row gx-sm-3 gx-md-5">

            <!-- card rendering -->
           

        </main>
        <!-- modal -->
        <%- include("./partials/__modal") %>             
    </div>

<%- include("./partials/__footer") %>