<div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-5">
    <div class="card w-100">
        <div class="card-body">
            <span card-id=<%=company._id %> role="delete-card" id="delete-button" class="
                rounded-circle">X</span>
            <h5 class="card-title text-center">
                <%= company.name %>
            </h5>
            <p class="card-text">
                CIN: <strong>
                    <%= company.cin %>
                </strong>
                City: <strong>
                    <%= company.city %>
                </Strong>
            </p>
            <p class="card-text"> Province: <strong>
                    <%= company.province %>
            </p>
            </Strong>
            Telephone: <strong>
                <%= company.telephone %>
            </Strong>

            <a card-id=<%=company._id %> class="btn-more btn btn-dark mt-3 ms-auto"
                data-bs-toggle="modal"
                data-bs-target="#more-info-modal">More</a>
        </div>
    </div>
</div>